a:link, a:hover, a:visited {
    color: #218bb0;
    text-decoration: underline;
}

a img {
    border: none;
}

h1 {
    color: white;
    text-align: center;
    font-family: arial;
    font-size: 26pt;
}

body {
    font-family: arial;
    color: white;
    background-image: url(images/mtimoon_fromSTK_3d.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-color: #000000;
}

.align-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.logo {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

table.report {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    color: black;
    font-size: 9pt;
    text-align: left;
    border-style: ridge;
    border-width: 3px;
    padding: 6px;
    border-color: #AFC7C7;
    background-color: #FFFFFF;
}

td, th {
    text-align: left;
    vertical-align: top;
}

th {
    font-weight: bold;
}

.pipeline {
    width: 600px;
    height: 550px;
    background-image: url(images/pipeline.png);
    color: white;
    position: relative;
}

.pipeline table {
    width: 100%;
}

.pipeline .vertexShader, .pipeline .rasterizer, .pipeline .fragmentShader, .pipeline .framebuffer, .pipeline .textures {
    position: absolute;
    width: 245px;
}

.pipeline .vertexShader {
    top: 33px;
    left: 10px;
}

.pipeline .rasterizer {
    top: 190px;
    left: 10px;
}

.pipeline .fragmentShader {
    top: 317px;
    left: 10px;
}

.pipeline .framebuffer {
    top: 444px;
    left: 10px;
}

.pipeline .textures {
    top: 219px;
    left: 340px;
}